* {
  box-sizing: border-box;
}

body {
  background:#F3991E;
  padding: 20px;
  font-family:Lato;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
    
}

.main p{background:clear;}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: cornsilk;
  padding: 10px;
  margin-bottom: 20px;
    

}

#headshot{width: 400;
height: 400;
margin:0 auto;
}
.baby{display: block }
.baby iframe{width: 100%}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.abc {
     text-align: right;
}

.abc button{
    border-radius: 35px;
    font-size: 20px;
    color: darkred;
    border-color: darkorange;
    color
    
  
